<h1>TEST</h1>
<script src="https://scripts.com/some/other/external/script/file.js"></script>
<script src="local-script.js"></script>
<script>
    // Use functions and Objects defined in the previous two files
    doSomethingAmazing();
</script>